// Override from: "node_modules/bootstrap/scss/_variables.scss"

// Colours

$primary:       #1D71B8;
// $secondary:     $gray-600;

// Typography
//

// Fonts
$font-family-inter: Gotham, Arial, 'Arial Narrow', sans-serif;
$font-family-base: $font-family-inter;
// Typography
$font-size-base:              1rem; // Assumes the browser default, typically `16px`

$h1-font-size:                70px;
$h2-font-size:                30px;
$h3-font-size:                28px;
$h4-font-size:                $font-size-base * 1.5;
$h5-font-size:                $font-size-base * 1.25;
$h6-font-size:                $font-size-base;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px, // sm: 540px,
  md: 720px, // md: 720px,
  lg: 960px, // lg: 960px,
  xl: 2000px // xl: 1140px
);
